

body{
    font-family:cursive;
    font-size:20;
    padding: 0;
    margin:0;
    width:100vw;
    height:100vh;
    display:flex;
    justify-content: center;
    align-items:center;
    background-color: blue;
}

.container{
    background-color: white;
    width:40%;
    height:50%;
    border-radius:5px;
    box-shadow:0 0 10px 20px;
}

.intro{
    margin:15px;
}

.timer{
  margin:15px;  
}

.schedule{
    margin:15px;
}

.controls{
    border:10px;
    margin-top:15px;
}

.progress{
    width:40vw;
    height:5vh;
    background-color: white;
    border-radius:5px;
    box-shadow:0 0 5px 10px;
}

#progBar{
    width:1vw;
    height:5vh;
    background-color:blue;
}


.customBtn{
    font-family:cursive;
    font-size: 15px;
    border:0;
    width:40vw;
    height:5vh;
    border-radius:5px;
    box-shadow:0 0 5px 10px;
    padding-bottom:10px;
}

.numberFont{
    color:blue;
    font-style: oblique;
    font-weight:bold;
    font-size:22px;
}

